

.wrapper-list {
    padding: 0 7vw;
    box-sizing: border-box;
    overflow: scroll;
    height: 100vh;
}
.wrapper-pic-list {
    display: flex;
    align-items: center;
}
.list-item {
    display: flex;
    border-bottom: 1px solid #707070;
    padding: 4.2vw 0vw;

}

.list-pic {
    width: 19.4vw;
    height: auto;

}
.wrapper-exegol-list {
    display: flex;
}
.exegol-container {
    position: relative;

}
.list-exegol {
    margin: 0 1vw;
}
.name-plant-list {
    font-size: 5.5vw;
    font-family: "Nato Sans Semi-Bold";
    margin-bottom: 2vw;

}
.list-chart {
    position: absolute;
    top: 1vw;
    font-size: 3vw;
    color: #fff;
    left: 4vw;
    top: 2vw;
}
.cm {
    font-size: 4.2vw;
}
.balcode {
    font-size: 4.2vw;
}